.git
.gitignore
.dart_tool/
build/
.packages
pubspec.lock
*.iml
.idea/
.gradle/
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.DS_Store
.env
.env.local
.vscode/
.idea/
coverage/
*.log
